include README.md
include LICENSE
include setup.py
include files/in.kushaldas.Tumpa.desktop
include files/in.kushaldas.Tumpa.png
include requirements.*

recursive-include tumpasrc *

recursive-exclude tumpasrc *.pyc
