Source: tumpa
Section: unknown
Priority: optional
Maintainer: Kushal Das <mail@kushaldas.in>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools, dh-virtualenv
Standards-Version: 3.9.8
Homepage: https://github.com/kushaldas/tumpa
X-Python3-Version: >= 3.7

Package: tumpa
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, libnettle6, libhogweed4, libpcsclite1
Description: Tumpa desktop tool to make OpenPGP simple.
