QPushButton {
    background-color: #2D7AD4;
    border-style: outset;
    border-width: 1px;
    border-radius: 2px;
    border-color: #2F538B;
    font: 18px;
    color: white;
    min-width: 122px;
    min-height: 36px;
    padding: 6px;
    margin-top: 10px;
}
QPushButton:pressed {
    background-color: #BEBEBE;
    border-style: inset;
    border-color: #B6B6B6;
}

QPushButton:disabled {
    background-color: #BEBEBE;
    border-color: #B6B6B6;
}

QPushButton#secondary_button {
    background: transparent;
    color: #363B3D;
    border-color: #363B3D;
}

QLineEdit {
<<<<<<< HEAD
    height: 32px;
    padding: 0 5px;
    border-radius: 2px;
    border: 1px solid #A7ABA7;
    margin-bottom: 20px;
=======
    height: 40px;
    margin: 0px 0px 0px 0px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
>>>>>>> 25c721c (Refactor UI structure)
}

QLabel#keyring_label {
    font-size: 24px;
}

QLabel#keyring_instruction {
    font-size: 12px;
}

QPlainTextEdit {
<<<<<<< HEAD
    border-radius: 2px;
    background-color: palette(base);
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #A7ABA7;
=======
    border-radius: 5px;
    background-color: palette(base);
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid black;
>>>>>>> 25c721c (Refactor UI structure)
}

QWidget#sidenavbar {
    background-color: #D1E5F4;
}
QWidget#sidenavbar QPushButton {
    border-color: #2D7AD4;
    font-size: 14px;
    background-color: #D1E5F4;
    color: black;
    min-width: 0;
<<<<<<< HEAD
    min-height: 32px;
    border-radius: 0;
    text-align: left;
    padding: 10px;
    margin: 15px 0;
}

QWidget#sidenavbar QPushButton[active="True"] {
    background-color: #2D7AD4;
    color: #FFFFFF;
=======
>>>>>>> 25c721c (Refactor UI structure)
}

QLabel#keyfingerprint {
    font-size: 18px;
    font-weight: 600;
}

QListWidget::item {
    background-color: #F1F8FD;
    border: 1px solid #9DCCEE;
    margin: 4px;
}
QListWidget::item:selected {
    background-color: #9DCCEE;
}
